doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Colenso Database   
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/modern-business.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    //Sliers Style
    link(rel='stylesheet', type='text/css', href='stylesheets/slick.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/slick-theme.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='javascripts/slick.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

  body
    // Navigation
    .navbar-wrapper
          nav.navbar.navbar-inverse.navbar-static-top
            .container-fluid
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-left
                  li
                    a(href='#fashion') Fashion
                  li
                    a(href='#electronics') Electronics
                  li
                    a(href='#electronics') Sports
                  li
                    a(href='#electronics') Daily Deals
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/account') Profile
                  li
                    a(href='#cart') Shopping Cart
                  // li
                  //   a(href='#logout') Logout
                  li(data-toggle='modal', data-target='#loginBox')
                    a(href='#login')
                      span.ion.ion-person(style='margin-right:5px; font-size:120%;')
                      | Login
                  li(data-toggle='modal', data-target='#signUpBox', style='cursor:pointer;')
                    a
                      span.ion.ion-person-add(style='margin-right:5px; font-size:120%;')
                      | Sign Up
                center
                  form.navbar-form(action="/search", method="get")
                    .input-group
                        input.form-control(type="text", name="searchString", placeholder='Search for items..')
                        span.input-group-btn
                          button.btn.btn-default(type="submit") Search

    // Forgot Password Box 
    #forgotPasswordBox.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.fa.fa-key(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Forgot password
          .modal-body
            .form-group
              label.control-label(for='email') Email:
              input.form-control(type='text', placeholder='Email...', name='email')
            .form-group
              button.btn.btn-primary Submit

    // Login Box         
    #loginBox.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.ion.ion-person(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Login
          .modal-body(style='height:400px !important;')
            #loginbox.mainbox.col-md-12
              .panel.panel-primary
                .panel-heading
                  .panel-title Sign In
                  div(data-dismiss='modal', data-toggle='modal', data-target='#forgotPasswordBox', style='float:right; font-size: 80%; position: relative; top:-10px')
                    a(href='#', style='color:white;') Forgot password?
                .panel-body(style='padding-top:30px')
                  #login-alert.alert.alert-danger.col-sm-12(style='display:none')
                  form#loginform.form-horizontal(role='form')
                    .input-group(style='margin-bottom: 25px')
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      input#login-username.form-control(type='text', name='username', value='', placeholder='username or email')
                    .input-group(style='margin-bottom: 25px')
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                      input#login-password.form-control(type='password', name='password', placeholder='password')
                    .form-group(style='margin-top:10px')
                      // Button
                      .col-sm-12.controls
                        a#btn-login.btn.btn-success(href='/account') Login  
                        a#btn-fblogin.btn.btn-primary(href='#') Login with Facebook
                    .form-group
                      .col-md-12.control
                        div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                          | No account? 
                          a(href='#', data-dismiss='modal', data-toggle='modal', data-target='#signUpBox')
                            | Sign Up Here

    // Sign Up Box
    #signUpBox.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')
                span.glyphicon.glyphicon-remove
            span.ion.ion-person-add(style='float: left; font-size: 150%; margin: 5px 10px 0px 0px;')
            h4(style='float:left') Sign Up
          .modal-body
            form#registrationForm.form-horizontal(method='post' /*action='/account'*/)
              .form-group
                label.control-label.col-md-4(for='fname') First Name
                .col-md-7.col-md-offset-1
                  input#name1.form-control(type='text', name='fname', placeholder='Name...')
              .form-group
                label.control-label.col-md-4(for='lname') Surname
                .col-md-7.col-md-offset-1
                  input#last.form-control(type='text', name='lname', placeholder='Surname...')
              .form-group
                label.col-md-4.control-label(for='email') Email
                .col-md-7.col-md-offset-1
                  input#email.form-control(type='email', name='email', placeholder='Email...')
              .form-group
                label.col-md-4.control-label(for='pass') Password
                .col-md-7.col-md-offset-1
                  input#pass.form-control(type='password', name='pass', placeholder='Password...')
              .form-group
                label.col-md-4.control-label(for='imageURL') ImageURL
                .col-md-7.col-md-offset-1
                  input#pass.form-control(type='imageURL', name='imageURL', placeholder='Image URL')                  
              .form-group
                .col-md-7.col-md-offset-4
                  a#btn-login.btn.btn-success(href='/account') Register 
                  //button#register1.btn.btn-warning(style='color:#555555;font-weight:bold;margin-left:35px;', type='submit', href='/account') Register
                  button#close.btn.btn-primary(style='font-weight:bold', type='button', data-dismiss='modal') Close

    // Page Content
    .container
      // Features Section

      .row
        .col-lg-6
          h2.page-header Categories
          #pills
            .col-lg-12
                  ul.nav.nav-pills
                    li.active
                      a(data-toggle='pill', href='#home') Computers
                    li
                      a(data-toggle='pill', href='#menu1') Mobile Phones
                    li
                      a(data-toggle='pill', href='#menu2') Cameras
                  .tab-content
                      #home.tab-pane.fade.in.active
                        p
                        p PC
                        p Apple
                      #menu1.tab-pane.fade
                        p
                        p Samsung
                        p Apple
                      #menu2.tab-pane.fade
                        p
                        p DSLR
                        p GoPro
      .row
        .col-lg-12
          h2.page-header Featured Items
          .dave
              .slider-data
                  .multiple-items(style='margin: auto; width: 100%;')
                      -var a=0
                      each val in slider_data
                          -a++
                          -var imageURL = slider_data[a-1].photourl;
                          a(href='/viewProduct')
                              img(src= "" + imageURL)
       .row
        .col-lg-12
          h2.page-header Top Selling Items
          .dave
              .slider-data
                  .multiple-items(style='margin: auto; width: 100%;')
                      -var a=0
                      each val in slider_data
                          -a++
                          -var imageURL = slider_data[a-1].photourl;
                          a(href='/viewProduct')
                              img(src= "" + imageURL)
      .row
        .col-lg-12
          h2.page-header Most Popular Items
          .dave
              .slider-data
                  .multiple-items(style='margin: auto; width: 100%;')
                      -var a=0
                      each val in slider_data
                          -a++
                          -var imageURL = slider_data[a-1].photourl;
                          a(href='/viewProduct')
                              img(src= "" + imageURL)
      // /.row
      // Footer
      footer
        .row
          .col-lg-12
            
    // /.container
    //SLICK SLIDER
    script.
      // Can also be used with $(document).ready()
      $(document).ready(function(){
      $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      variableWidth: true
      });
      });